:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    background-color: #f3f3f3;
  }
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: black;
}

/* CUSTOM */
.split-view-container .view-container {
  background-color: transparent;
}

.xterm {
  padding: 10px;
}
